body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: "Staatliches", cursive;
}

a{
  color: whitesmoke;
  font-size: 30px;
  text-decoration: none;
}
a:hover {
  color: whitesmoke;
  font-size: 30px;
  text-decoration: none;
}

.App {
  background-image: url("http://www.cogssandakan.com/News/img/basketball.jpg");
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.intro, .enter-time, .enter-name-A, .enter-name-B, .scoreboard, .page-not-found {
  height: 100vh;
}