body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Staatliches", cursive;
  font-size: 30px;
}
a:hover {
  text-decoration: none;
  color: whitesmoke;
}
.Navbar ul {
  list-style: none;
  font-size: 20px;
}
.App {
  background-image: url("http://www.cogssandakan.com/News/img/basketball.jpg");
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.Page1 {
  color: whitesmoke;
  font-family: "Staatliches", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SetTime {
  display: flex;
}
.container-2 {
  display: flex;
}
